*{
	padding: 0px;
	margin: 0px auto;
}
#wrapper {
	width: 970px;
	overflow: hidden;
	height: auto;
	font-family: Arial;
	font-size: .65em;
}
p {
	height: 45px;
	outline: 1px solid grey;
}
p, h4, h5{
	width: 45px;
	margin: 2px 1px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	line-height: 1.3;
}
h4 {
	color: red;
	padding-top: 10px;
	height: 35px;
	position: relative;
	font-size: 1.1em;
	font-weight: lighter;
}
.name {
	font-weight: bold;
	font-size: 1.5em;
}
#middle {
	height: 370px;
}
#period{
	width: 45px;
	vertical-align: bottom;
}
#period p {
	display: block;
}
#group_name, #group_name h4{
	width: 144px;
	padding-left: 1px;
}
#group, #period, #s_block_name, #s_block, #d_block, #p_block, #group_name, #f_block{
	display: inline-block;
}
#s_block {
	width: 100px;
	margin-right: 10px;
}
#s_block p{
	background-color:rgba(102,153,255,0.8);
}
#s_block .name {
	color: #000066;
}
#s_block_name {
	margin-right: 11px;
}
#d_block {
	width:496px;
}
#d_block p{
	background-color:rgba(255,0,0,0.4);
}
#p_block {
	width: 297px;
}
#p_block p{
	background-color:rgba(255,153,0,0.6);*/
}
#d_block .name, #p_block .name {
	color: #000080;
}
#f_block {
	width: 710px;
}
#f_block p{
	background-color: rgba(0,153,0,0.7);
}
#f_block .name {
	color: #0000B8;
}
#f_block h4 {
	width: 8px;
	text-align: right
}
















